<div class="container-fluid tickets-buy">
  <div class="row tickets-header">
    <div class="col-xs-12 col-md-11 col-md-offset-1">
      <h3> Contact Info </h3>
      <div class="pull-left">
        Name:
      </div>
      <div class="venue-details">
       Vanue Name
      </div>

      <div class="pull-left">
        Address:
      </div>
      <div class="time-details"> 
        Address detail 
      </div>


    </div>
  </div>
  <div class="row">
    <div class="col-md-11 col-md-offset-1">  
      <table class="table">
        <th> Ticket Type </th>
        <th> Unit Price </th>
        <th> Quantity </th>
      
        <%#<% @event.ticket_types.each do |type| %>
        <tr>
          <td> Name <%#= type.name %> </td>
          <td> Price <%#= number_to_currency(type.price, unit: 'VND ', precision: 0) %> </td>
          <td> Quantity <%#= select_tag('quantity', options_for_select(0..10)) %></td> 
        </tr>
        <%#<% end %> 
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-offset-5">
      <button class="btn btn-success btn-lg btn-block"> Check Out </button>
    </div>
  <div>
</div>  

